.rectangle-icon13 {
  position: absolute;
  top: 21px;
  left: 19px;
  border-radius: 10px;
  width: 336px;
  height: 769px;
  display: none;
}
.previous-2-icon6 {
  position: absolute;
  top: 44px;
  left: 156px;
  width: 63px;
  height: 63px;
  object-fit: cover;
  animation: 1s ease 0s 1 normal none bounce-in-top;
  cursor: pointer;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72%,
  90%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
}
.a-blocks-label6 {
  position: absolute;
  top: 121px;
  left: 91px;
  font-weight: 700;
  display: inline-block;
  animation: 1s ease 0s 1 normal none scale-up;
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.a-code-label6 {
  position: absolute;
  top: 364px;
  left: 105px;
  font-weight: 700;
  display: inline-block;
  animation: 1s ease 0s 1 normal none scale-up;
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.numgif1-1-icon5 {
  position: absolute;
  top: 188px;
  left: 34px;
  border-radius: 5px;
  width: 308px;
  height: 163px;
  object-fit: cover;
  animation: 1s ease 0s 1 normal none scale-up;
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.image-13-icon {
  position: absolute;
  top: 425px;
  left: 75px;
  border-radius: 5px;
  width: 219px;
  height: 184px;
  object-fit: cover;
}
.image-14-icon {
  position: absolute;
  top: 622px;
  left: 73px;
  border-radius: 5px;
  width: 221px;
  height: 174px;
  object-fit: cover;
}
.lesson1-7-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: #bd00ff;
  font-family: Roboto Mono;
}
