@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72%,
  90%,
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.previous-1-icon,
.rectangle-icon {
  position: absolute;
  object-fit: cover;
  cursor: pointer;
}
.previous-1-icon {
  top: 45px;
  left: 156px;
  width: 63px;
  height: 63px;
  animation: 1s ease 0s 1 normal none bounce-in-top;
}
.rectangle-icon {
  top: 152px;
  left: 39px;
  border-radius: 10px;
  width: 140px;
  height: 115px;
}
.rectangle-icon:active {
  animation: 3s linear 0s 1 alternate none bounce-top;
}
.rectangle-icon1 {
  top: 300px;
  cursor: pointer;
}
.rectangle-icon1:active {
  animation: 2s ease 0s 1 normal none bounce-top;
}
.rectangle-icon1,
.rectangle-icon2,
.rectangle-icon3,
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  position: absolute;
  left: 39px;
  border-radius: 10px;
  width: 140px;
  height: 115px;
  object-fit: cover;
}
.rectangle-icon2 {
  top: 448px;
  cursor: pointer;
}
.rectangle-icon2:active,
.rectangle-icon3:active {
  animation: 3s ease 0s 1 normal none bounce-top;
}
.rectangle-icon3,
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  top: 596px;
}
.rectangle-icon4,
.rectangle-icon5,
.rectangle-icon6 {
  top: 152px;
  left: 196px;
  cursor: pointer;
}
.rectangle-icon4:active {
  animation: 2s ease 0s 1 normal none bounce-top;
}
.rectangle-icon5,
.rectangle-icon6 {
  top: 300px;
}
.rectangle-icon5:active {
  animation: 3s ease 0s 1 normal none bounce-top;
}
.rectangle-icon6 {
  top: 448px;
}
.rectangle-icon6:active {
  animation: 2s ease 0s 1 normal none bounce-top;
}
.lesson1-div {
  position: relative;
  background-color: #f7f1fb;
  width: 100%;
  height: 812px;
  overflow: hidden;
}
